.hide {
  display: none !important;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  position: fixed;
  width: 100%;
  margin-top: 0%;
  margin-left: 0%;
  background-color: black;
  color: white;
  height: 80px;
}

main {
  padding: 50px;
  margin: 10px;
}

div {
  background-color: white;
  width: 500px;
  padding: 50px;
  margin: 10px;
} 

li {
  border: 2px solid gray;
  background-color: rgb(216, 199, 233);
  padding: 20px;
  margin: 20px;
  list-style-type: none;
  cursor: pointer;
}

