.hide {
  display: none !important;
}

/* body {
  padding-left: 30px;
  background-color: black;
}

header {
  color: white;
  margin: 20px;
}

main {
  background-color: rgb(240, 240, 96);
  padding: 50px;
  margin: 10px;
}

section {
  background-color: white;
  width: 500px;
  padding: 50px;
  margin: 10px;
} */

